{{ neseri_domain }} {
	tls {{ letsencrypt_email }}

	encode gzip

	reverse_proxy {{ neseri_backend_host }}:{{ neseri_backend_port }} {
		transport http {
			tls
			tls_server_name {{ neseri_backend_tls_server_name }}
			tls_trust_pool file /etc/caddy/{{ caddy_backend_ca_cert_file }}
		}
	}
}
