- flash.each do |type, message|
  - Array(message).each do |message|
    .notification{ class: [bulma_flash_class[type], "notification-#{type}"] }
      %button.delete(onclick="this.parentNode.parentNode.removeChild(this.parentNode);")
      .media
        .media-left
          - case type.to_sym
          - when :notice, :info
            %span.icon.is-size-5
              %i.fa.fw.fa-info-circle
          - when :success
            %span.icon.is-size-5
              %i.fa.fw.fa-check
          - when :danger
            %span.icon.is-size-5
              %i.fa.fw.fa-warning
          - when :error
            %span.icon.is-size-5
              %i.fa.fw.fa-warning
          - when :alert
            %span.icon.is-size-5
              %i.fa.fw.fa-warning
          - when :warning
            %span.icon.is-size-5
              %i.fa.fw.fa-flash
          - else
            %span.icon.is-size-5
              %i.fa.fw.fa-star
        .media-content
          !=message
- flash.clear
