%h1.title.has-text-centered
  Über

%p
  Auf diesen Seiten können Vorschläge für Bildungsveranstaltungen im und mit dem Ökodorf Sieben Linden (beziehungsweise dem "Freundeskreis Ökodorf e.V.") eingereicht werden.

.section
  %h2.subtitle.has-text-centered
    Die Software
  
  .content
    %p
      Die betriebene Software "neseritu" ist Freie Software und unter der
      %a(href="https://opensource.org/licenses/GPL-3.0")
        Lizenz GPLv3 (oder einer späteren Version)
      veröffentlicht.
    
    %p
      Der Quellcode kann auf
      %a(href="https://github.com/ecovillage/neseritu")
        %span.icon
          %i.fa.fa-github
        Github eingesehen werden.
      Die Betreiber/Innen freuen sich über Feedback und/oder Vorschläge sowie Mitarbeit.
    
    %p
      Solltest Du diese Software selber als Betreiber*in verwenden wollen, gehe einfach mit uns
      %a(href=contact_path)
        in Kontakt.
