%h1.title.has-text-centered
  Kontakt

%p.has-text-centered
  Du das Bildungsreferat des Freundeskreis Ökodorf e.V. per E-Mail unter
  = mail_to "bildungsreferat@siebenlinden.org", "bildungsreferat@siebenlinden.org"


