-# SPDX-FileCopyrightText: 2020 Felix Wolfsteller
-#
-# SPDX-License-Identifier: AGPL-3.0-or-later

.has-text-centered
  Zuletzt geändert am 1.4.2019
  = current_user.tos_accepted_at

  - if current_user && current_user.tos_accepted_at
    (zugestimmt am #{l(current_user.tos_accepted_at, format: :long)})
  \.
.columns
  .column.is-6
    %h1.title.has-text-centered
      Datenschutzerklärung
    
    .section
      %h2.subtitle.has-text-centered
        Wer wir sind
    
      Die Adresse unserer Website ist: https://siebenlinden.org .
    
      Verantwortlich ist der Freundeskreis Ökdorf e.V.,
      %pre
        Sieben Linden 1
        38489 Beetzendorf OT Poppau
        Deutschland
        Tel.: +49-39000-51235
        E-Mail: info@siebenlinden.org
        Website: https://siebenlinden.org
        Umsatzsteueridentifikationsnummer: DE 249278851
        Vereinsregister Stendal, VR 53348
        Vorstand: Simone Britsch, Giselher Dahmen, Ines Lüdemann, Claudia Marx.
    
    .sectionb
      %h2.subtitle.has-text-centered
        Welche personenbezogenen (und andere) Daten wir "sammeln"" und warum wir sie sammeln
    
      %p
        Dieses Seite wird benutzt um Veranstaltungen im Ökodorf Sieben Linden zu organisieren. Dazu geben Referent/Innen (Nutzer dieser Seite) und andere Veranstalter/innen ihre E-Mail-Adresse, sowie andere Kontaktdaten und Informationen zu Veranstaltungsvorschlägen und -abläufen an. Die angegebenen Informationen sind notwendig um die Veranstaltung ggfs. später auch zu veröffentlichen und (auch im Eigeninteresse der Nutzer/Innen) zu bewerben, weswegen wir keinen erhöhten Schutzbedarf dieser Daten sehen. Trotzdem sind die meisten Angaben freiwillig und die Anwendung speichert z.B. keine Passwörter im Klartext. Desweiteren werden beim Besuch der Seite weitere Daten automatisch erfasst, vor allem technische Daten, die bei einer Fehleranalyse hilfreich sein können.
    
    
    .section
      %h2.subtitle.has-text-centered
        Cookies
      %p
        Anmeldedaten und Benachrichtigungen werden in Cookies gespeichert.
        Du kannst Deinen Browser so einstellen, dass Du über das Setzen von Cookies informiert wirst order Cookies nur im Einzelfall erlauben, generell ausschließen, das automatische Löschen der Cookies beim Schließen des Browser aktivieren, etc.pp. Durch die Deaktivierung von Cookies wird die Funktionalität dieser Website eingeschränkt sein.
    
    .section
      %h2.subtitle.has-text-centered
        Analysedienste
      %p
        Die Kommunikationsdaten werden nicht weiter analysiert, aber in normalen Maße in Protokolldateien gespeichert (um den Server- und Applikationsbetrieb sicherzustellen).  Insbesondere werden die versandten E-Mails gespeichert, um nachvollziehen zu können ob das System korrekt funktioniert.
    
    .section
      %h2.subtitle.has-text-centered
        Mit wem wir deine Daten teilen
      %p
        Die persönlichen und Kommunikationsdaten werden nicht weiter mit anderen Instanzen geteilt.

    .section
      %h2.subtitle.has-text-centered
        Wer Zugriff auf deine Daten hat
      %p
        Der Server wird von der Firma Strato AG (strato.de, Pascalstraße 10 - 10587 Berlin) betrieben.
        %br
        Andere angegebene Daten werden nur vom Freundeskreis e.V. genutzt - bis zu dem Zeitpunkt an dem die eingetragenen Veranstaltungen beworben und damit - im Sinne des/der Nutzer*in - veröffentlicht werden.
        %br
        Veranstaltungsdaten sind außerdem für alle eingetragenen Referent*n sichtbar, ebenso wie deren E-Mail-Adresse, nicht aber Anschrift, Name etc.
    
    .section
      %h2.subtitle.has-text-centered
        Wie lange wir deine Daten speichern
    
      %p
        Die Daten werden im Sinne der Nutzer/innen 10 Jahre gespeichert, um eine Veranstaltungsvorschlag aus einem vorherigen Jahr problemlos und einfach erneut einreichen zu können. Solltest du eine frühere Löschung wünschen, reicht eine einfache mail an bildungsreferat@siebenlinden.org (oder ein Anruf bei o.g. Telefonnummer).
    
    .section
      %h2.subtitle.has-text-centered
        Welche Rechte du an deinen Daten hast
    
      %p
        Du kannst jederzeit eine Löschung oder Herausgabe der Daten verlangen. Dazu reicht eine einfache mail an bildungsreferat@siebenlinden.org (oder ein Anruf bei o.g. Telefonnummer).
    
    .section
      %h2.subtitle.has-text-centered
        Wie wir deine Daten schützen
    
      %p
        Wir sehen aufgrund des Zweckes der Applikation (Veranstaltungsplanung und -bewerbung) keine erhöhte Schutzwürdigkeit der Daten. Im Zweifelsfall können die Daten auch via E-Mail oder telefonisch eingereicht werden.
        Die persönlichen Daten wie z.B. Telefonnummer sind nur für Administrator*n (Mitarbeiter der Betreiberin) einsichtlich.
        Passwörter werden verschlüsselt gespeichert.
    
    .section
      %h2.subtitle.has-text-centered
        Welche automatisierte Entscheidungsfindung und/oder Profilerstellung wir mit Benutzerdaten durchführen
      %p
        Keine 

  .column.is-6
    %h1.title.has-text-centered
      AGB
    
    .section
      %h2.subtitle
        Was du beachten solltest

    .section
      %h2.subtitle.has-text-centered
        Medien
    
      %p
        Wenn du ein registrierter Benutzer bist und Fotos auf diese Website lädst, solltest du vermeiden, Fotos mit einem EXIF-GPS-Standort hochzuladen. Besucher dieser Website könnten Fotos, die auf dieser Website gespeichert sind, herunterladen und deren Standort-Informationen extrahieren.
        
    .section
      %h2.subtitle.has-text-centered
        Nutzungsrecht der angegebenen Daten
      %p
        Du stellst sicher, dass Du Nutzungsrechte an den hochgeladenen, angegebenen oder versandten Daten besitzt und stimmst zu, dass der Freundeskreis Ökordof e.V. diese zur Veranstaltungsbewerbung und Öffentlichkeitsarbeit nutzen sowie gegebenenfalls weitergeben darf. Dies bezieht sich auch auf die angebenen Texte (z.B. Zitate in Seminarbeschreibung)! Hole im Zweifel lieber eine Einverständniserklärung bei de* Urheber* ein.

    .section
      %h2.subtitle.has-text-centered
        E-Mail Adressen und andere persönliche Daten dritter
    
      %p
        Beim Anlegen von Veranstaltungsvorschlägen können Referent*n angelegt werden. Dazu gibst Du eine E-Mail- Adresse an. Der/Die Besitzer* der E-Mail-Adresse wird daraufhin (via E-Mail) benachrichtigt, soweit ein Konto mit dieser E-Mail-Adresse noch nicht registriert wurde. Diese Benachrichtigung wird nur einmal versandt. Ab diesem Zeitpunkt hat das Konto Zugriff auf den Seminarvorschlag, kann also Daten einsehen und ändern (nicht aber persönliche Daten im Profil der anderen Nutzer, wie z.B. die Telefonnummer). Vergewissere Dich bitte vorher, dass der/die Besitzer* dieser E-Mail-Adresse damit einverstanden ist. Falls ein* weitere* Referent* hinzugefügt wird, sieht diese* ebenfalls die E-Mail-Adressen der anderen Referent*n. Wir gehen davon aus, dass dies im im Interesse der Nutzer* ist(immerhin wollen die Personen zusammen eine Veranstaltung im Ökodorf leiten). Bitte mach dir dies bewusst.

- if current_user&.tos_accepted_at
  .notification.has-text-centered
    Du hast die AGB und die Datenschutzbestimmungen am 
    %strong
      #{l(current_user.tos_accepted_at, format: :long)}
    als gelesen und zugestimmt markiert.
