[defaults]
inventory       = inventory/hosts.yml
roles_path      = roles
vault_password_file = .vault_pass.txt
host_key_checking = True
retry_files_enabled = False
interpreter_python = auto_silent
stdout_callback = default

[ssh_connection]
pipelining = True
